<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
<!--    <span style="display:block; height:50px;"></span>-->
    <div><p><b>End Datum</b> der Rechnungen wählen die angezeigt werden sollen,
    <br>um dann per Email versendet werden zu können.</p></div>
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="date" [(ngModel)]="dateTo.date" (change)="apply()"></td>
<!--        <button type="button" (click)='apply()' class="btn-light">Anwenden</button>-->
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col" title="An Alle User die Rechnung per Email senden.">Alle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{all}}" [(ngModel)]="all" (change)="check()" >
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div><p>Mit der <b>Check-Box</b> alle User wählen für die,
    <br>die Email Vorschau angezeigt werden soll. <b>Email Vorschau</b> klicken.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Checked</th>
        <th scope="col">Username Lieferung</th>
        <th scope="col">Vorname Lieferung</th>
        <th scope="col">Nachname Lieferung</th>
        <th scope="col">Username Rechnung</th>
        <th scope="col">Vorname Rechnung</th>
        <th scope="col">Nachname Rechnung</th>
        <th scope="col">Rechnung Betrag</th>
        <th scope="col">Start Datum</th>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userBindInvoice of userBindInvoices">
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{userBindInvoice.isChecked}}" [(ngModel)]="userBindInvoice.isChecked">
        </div></td>
        <td>{{ userBindInvoice.personDeliver.username }}</td>
        <td>{{ userBindInvoice.personDeliver.firstname}}</td>
        <td>{{ userBindInvoice.personDeliver.lastname }}</td>
        <td>{{ userBindInvoice.personInvoice.username }}</td>
        <td>{{ userBindInvoice.personInvoice.firstname }}</td>
        <td>{{ userBindInvoice.personInvoice.lastname }}</td>
        <td>{{ userBindInvoice.invoice.amount | number : '1.2-2' }}</td>
        <td>{{ userBindInvoice.dateFrom.date | date:'fullDate'}}</td>
        <td>{{ userBindInvoice.dateTo.date | date:'fullDate'}}</td>
      </tr>
      <button type="button" (click)='email()' class="btn-light" title="Vorschau der Emails zeigen.">Email Vorschau</button>
      </tbody>
    </table>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>



