<app-driver-header></app-driver-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Start Datum</th>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="date" [(ngModel)]="startdate.date" (change)="showWork1()"></td>
        <td><input type="date" [(ngModel)]="enddate.date" (change)="showWork2()"></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Startzeit</th>
        <th scope="col">Endzeit</th>
        <th scope="col">Arbeitsstunden</th>
        <th scope="col">Text</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let work of works">
        <td>{{ work.date.date | date}}</td>
        <td>{{ work.startTime }}</td>
        <td>{{ work.endTime }}</td>
        <td>{{ work.workTime }}</td>
        <td>{{ work.description }}</td>
        <td><button type="button" (click)='delete(work)' class="btn-light">Löschen</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="success" class="alert alert-success">
  {{ success }}
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Total Stunden</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ total }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="error1" class="alert alert-danger">
  {{ error1 }}
</div>
<div *ngIf="success1" class="alert alert-success">
  {{ success1 }}
</div>
