<app-driver-header></app-driver-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Startzeit</th>
        <th scope="col">Endzeit</th>
        <th scope="col">Arbeitszeit</th>
        <th scope="col">Text</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="date" [(ngModel)]="dates.date" (change)="showWork()"></td>
        <td><input type="time" [(ngModel)]="work.startTime"></td>
        <td><input type="time" [(ngModel)]="work.endTime"></td>
        <td><input type="time" [(ngModel)]="work.workTime"></td>
        <td><input type="text" [(ngModel)]="work.description"></td>
      </tr>
      </tbody>
      <button type="button" (click)='apply()' class="btn-light">Speichern</button>
      <button type="button" (click)='clear()' class="btn-light">Löschen</button>
    </table>
  </div>
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="success" class="alert alert-success">
  {{ success }}
</div>
