HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### VS Code ###
.vscode/
.env
src/main/resources/application.properties
src/test/resources/application-test.properties
file.txt
balmburren.pdf

/src/main/resources/db/migration/data/V100_INSERT_UPDATE.SQL
/src/main/resources/db/migration/data/V100.1__INSERT_UPDATE.SQL
/src/main/resources/db/migration/data/V13.1__INSERT_USER_ROLE_DATA.SQL
/src/main/resources/db/migration/data/R__BACKUP_DATA.SQL
/src/main/resources/db/migration/data/R__INSERT_UPDATE.SQL
