<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
<!--    <span style="display:block; height:50px;"></span>-->
    <div><p><b>Backup laden</b>:Backup ZIP File wird intern abgespeichert.
    <br><b>Backup per Email senden</b>: Abgespeichertes Backup ZIP File wird per Email gesendet.</p></div>
    <div><button type="button" (click)='backupToFile()' class="btn-light">Backup laden</button></div>
    <div><button type="button" (click)='backupSend()' class="btn-light">Backup per Email senden</button></div>
  </div>
<!--</div>-->
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="success" class="alert alert-success">
  {{ success }}
</div>
<!--<div class="card my-5">-->
  <div class="card-body">
    <div><p><b>Filepicker</b>: Hochgeladenes Backup SQL File wird <br>als neue Grundlage in die Datenbank geladen.</p></div>
    <div class="input-group mb-3 w-100 h-25">
      <form #Form1="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="file">Import SQL File Backup</label>
            <input type="file"
                   class="form-control"
                   id="file"
                   name="file" (change)="importBackup($event)">
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="error1" class="alert alert-danger">
      {{ error1 }}
    </div>
    <div *ngIf="success1" class="alert alert-success">
      {{ success1 }}
    </div>
  </div>
</div>

