<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Links</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a href="/products">Produkte</a>
              </li>
              <li>
                <a href="/delivery">Auslieferung</a>
              </li>
              <li>
                <a href="/actual">Aktuelles</a>
              </li>
              <li>
                <a href="/contact">Kontakt</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
</footer>
