<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
<!--    <span style="display:block; height:50px;"></span>-->
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Produkt ID</th>
        <th scope="col">Produkt Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td (click)="holdProduct(product)" title="Neue Kombi 1">{{ product.name }}</td>
        <button type="button" (click)='deleteProduct(product)' class="btn-light">Löschen</button>
      </tr>
      </tbody>
    </table>
    <button type="button" (click)='addProduct()' class="btn-light">Neues Produkt</button>
  </div>
<!--</div>-->
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="success" class="alert alert-success">
  {{ success }}
</div>
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <div><p>Wenn Produkt und entsprechende Produkt-Info erstellt sind, werden diese zusammengefügt:
      <br>Dazu zuerst auf <b>Produkt Name</b> und dann auf <b>Kategorie</b> klicken.</p></div>
      <thead class="thead-dark">
      <tr>
        <th scope="col">Produkt-Info ID</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Preis</th>
        <th scope="col">Grösse</th>
        <th scope="col">Beschreibung</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let  productDetail of productDetails">
        <td>{{ productDetail.id}}</td>
        <td (click)="createProductBindDetail(productDetail)" title="Neue Kombi 2">{{ productDetail.category}}</td>
        <td>{{ productDetail.price}}</td>
        <td>{{ productDetail.size}} {{ productDetail.unit}}</td>
        <td>{{ productDetail.description}}</td>
        <button type="button" (click)='deleteProductDetail(productDetail)' class="btn-light">Löschen</button>
      </tr>
      </tbody>
    </table>
    <button type="button" (click)='addDetails()' class="btn-light">Neue Produkt-Info</button>
  </div>
<!--</div>-->
<div *ngIf="error1" class="alert alert-danger">
  {{ error1 }}
</div>
<div *ngIf="success1" class="alert alert-success">
  {{ success1 }}
</div>
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">P-PI ID</th>
        <th scope="col">Aktiviert</th>
        <th scope="col">Produkt Name</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Grösse</th>
        <th scope="col">Preis</th>
<!--        <th scope="col">Anzahl</th>-->
        <th scope="col">Start-Datum</th>
        <th scope="col">End-Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let  productBindInfo of productBindInfos">
        <td>{{productBindInfo.id}}</td>
        <td><input class="form-check-input" type="checkbox" name="{{productBindInfo.isChecked}}" [(ngModel)]="productBindInfo.isChecked" (click)="savePBI(productBindInfo)"></td>
        <td>{{ productBindInfo.product.name}}</td>
        <td>{{ productBindInfo.productDetails.category}}</td>
        <td>{{ productBindInfo.productDetails.description}}</td>
        <td>{{ productBindInfo.productDetails.size}} {{ productBindInfo.productDetails.unit}}</td>
        <td>{{ productBindInfo.productDetails.price}}</td>
<!--        <td>{{ productBindInfo.productDetails.size}}</td>-->
        <td><input type="date"  [(ngModel)]="productBindInfo.startDate.date"></td>
        <td><input type="date"  [(ngModel)]="productBindInfo.endDate.date"></td>
        <button type="button" (click)='delete(productBindInfo)' class="btn-light">Löschen</button>
      </tr>
      </tbody>
    </table>
    <button type="button" (click)='save()' class="btn-light">Speichern</button>
    <div *ngIf="error2" class="alert alert-danger">
      {{ error2 }}
    </div>
    <div *ngIf="success2" class="alert alert-success">
      {{ success2 }}
    </div>
  </div>
</div>

