<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
<!--    <span style="display:block; height:50px;"></span>-->
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Alle Ein/ Aus</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{all}}" [(ngModel)]="all" (change)="check()" title="Wähle alle User für neue Rechnungen1">
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <div><p>Klicke auf den <b>Username</b> um dessen Rechnungen anzuzeigen.
        <br>Klicke auf die <b>Check-Box</b> um eine neue Rechnung für diesen User zu erstellen,
        <br>und wähle dann <b>Start Datum</b> und <b>End Datum</b> und klicke <b>Neue Rechnung</b>.</p></div>
      <thead class="thead-dark">
      <tr>
        <th scope="col">Check</th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invoice of invoices">
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{invoice.isChecked}}" [(ngModel)]="invoice.isChecked" title="Wähle User für neue Rechnungen1">
        </div></td>
        <td>{{ invoice.id }}</td>
        <td (click)="showInvoices(invoice)" title="Zeige alle Rechnungen für User"><ins>{{ invoice.username }}</ins></td>
        <td>{{invoice.firstname}}</td>
        <td>{{ invoice.lastname }}</td>
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Start Datum</th>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="date" [(ngModel)]="dateFrom.date" title="Wähle Start Datum für neue Rechnungen2"></td>
        <td><input type="date" [(ngModel)]="dateTo.date" title="Wähle End Datum für neue Rechnungen3"></td>
        <button type="button" (click)='apply()' class="btn-light" title="Neue Rechnung für gewählte User erstellen4">Neue Rechnung</button>
      </tr>
      </tbody>
    </table>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Username Rechnung</th>
        <th scope="col">Username Lieferung</th>
        <th scope="col">Rechnung Betrag</th>
        <th scope="col">Summe Bezahlt</th>
        <th scope="col">Alles Bezahlt</th>
        <th scope="col">Rechnung gesendet</th>
        <th scope="col">Start Datum</th>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userBindInvoice of userBindInvoices">
        <td>{{userBindInvoice.personInvoice.username}}</td>
        <td>{{userBindInvoice.personDeliver.username}}</td>
        <td>{{userBindInvoice.invoice.amount| number : '1.2-2'}}</td>
        <td><input type="number" value="{{userBindInvoice.invoice.paid| number : '1.2-2'}}" ([ngModel])="userBindInvoice.invoice.paid" (change)="saveInvoice(userBindInvoice)"></td>
        <td><input type="checkbox" value="{{userBindInvoice.invoice.isPaid}}" [(ngModel)]="userBindInvoice.invoice.isPaid" (click)="saveInvoice1(userBindInvoice)"></td>
        <td><input type="checkbox" value="{{userBindInvoice.invoice.isSent}}" [(ngModel)]="userBindInvoice.invoice.isSent" (click)="saveInvoice2(userBindInvoice)"></td>
        <td>{{userBindInvoice.dateFrom.date| date:'fullDate' }}</td>
        <td>{{userBindInvoice.dateTo.date| date:'fullDate' }}</td>
        <button type="button" (click)='delete(userBindInvoice)' class="btn-light" title="Bitte 7 mal klicken um zu löschen.">Löschen</button>
      </tr>
      </tbody>
    </table>
    <div *ngIf="error1" class="alert alert-danger">
      {{ error1 }}
    </div>
    <div *ngIf="success1" class="alert alert-success">
      {{ success1 }}
    </div>
  </div>
</div>
