<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div><p>Wähle zuerst die Tour, klicke auf <b>Tour Nummer</b>,
      <br>dann erstelle neue Daten: Klicke auf <b>Neues Datum</b></p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tour Nummer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tour of tours">
        <td (click)="goTo(tour)"><ins>{{ tour.number }}</ins></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Daten</th>
        <th scope="col">Tour Number: {{param1}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let date of (dates)">
        <td>{{ date | date:'fullDate' }}</td>
        <td><button type="button" (click)="addInfos(date)" class="btn-light">Produkte Laden</button></td>
        <td><button type="button" (click)='delete(date)' class="btn-light">Datum Löschen</button></td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="param1" type="button" (click)='addDates(tour)' class="btn-light">Neues Datum</button>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <div><p>Wähle zuerst alle Produkte für die Tour, <b>Anwenden</b> drücken und dann für den gewünschten Tag laden: <b>Produkte Laden</b> klicken.
    <br>Falls die Daten der jeweiligen Tour nicht angezeigt werden, nochmals oben die <b>Tour Nummer</b> wählen.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tour Nummer</th>
        <th scope="col">Datum</th>
        <th scope="col">Produkt Name</th>
      </tr>
      </thead>
      <div *ngFor="let child of categories">
        <span><input class="form-check-input" type="checkbox" name="{{child.category}}" #name="ngModel" ngModel title="Aus-/ Einblenden"></span>
        <span style="display:block; width:50px;"></span>
        <span><b>{{child.category | date:'fullDate'}}</b></span>
        <tbody>
        <tr *ngFor="let tourDateBindInfo of child.products">
<!--      <tbody>-->
<!--        <tr *ngFor="let tourDateBindInfo of tourDatesBindInfos">-->
          <td *ngIf="param1 && !name.value" >{{tourDateBindInfo.tour.number}}</td>
          <td *ngIf="param1 && !name.value" >{{tourDateBindInfo.dates.date | date:'fullDate'}}</td>
          <td *ngIf="param1 && !name.value" >{{tourDateBindInfo.productBindInfos.product.name}}</td>
          <button *ngIf="param1 && !name.value" type="button" (click)='del(tourDateBindInfo )' class="btn-light">Löschen</button>
        </tr>
      </tbody>
      </div>
    </table>
  </div>
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="success" class="alert alert-success">
  {{ success }}
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Aktiviert</th>
        <th scope="col">Produkt Name</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Preis</th>
        <th scope="col">Anzahl</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let  productBindInfo of productBindInfos">
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{productBindInfo.isChecked}}" [(ngModel)]="productBindInfo.isChecked">
        </div></td>
        <td>{{ productBindInfo.product.name}}</td>
        <td>{{ productBindInfo.productDetails.category}}</td>
        <td>{{ productBindInfo.productDetails.description}}</td>
        <td>{{ productBindInfo.productDetails.price}}</td>
        <td>{{ productBindInfo.productDetails.size}}</td>
      </tr>
      <button type="button" (click)='apply()' class="btn-light">Anwenden</button>
      </tbody>
    </table>
  </div>
</div>

