<app-header></app-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div><p>Falls Sie regelmässig die gleichen Produkte bestellen möchten, geben Sie die gewünschte Anzahl ein. <br />
      Diese Angaben dienen als Grundeinstellungen und können dann jeweils noch geändert werden.
    </p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tour</th>
        <th scope="col">Produkt</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Anzahl Mo-Mi</th>
        <th scope="col">Anzahl Do-Sa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userProfileOrder of userProfileOrders">
        <td>{{ userProfileOrder.tour.number}}</td>
        <td>{{ userProfileOrder.productBindProductDetails.product.name }}</td>
        <td>{{ userProfileOrder.productBindProductDetails.productDetails.category }}</td>
        <td><input type="number"  min="0" [(ngModel)]="userProfileOrder.firstWeekOrder"></td>
        <td><input type="number"  min="0" [(ngModel)]="userProfileOrder.secondWeekOrder"></td>
      </tr>
      <button type="button" (click)='save()' class="btn-light">Speichern</button>
      </tbody>
    </table>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <div> <h4>Username: {{user.username}} </h4></div>
    <div> <h4>ID: {{user.id}} </h4></div>
    <div class="input-group mb-3 was-validated w-100 h-25">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="password">Neues Passwort erstellen mit 8 oder mehr Zeichen.</label>
          <input [type]=" showPassword ? 'text' : 'password' " [(ngModel)]="user.password"
                 class="form-control"
                 id="password"
                 name="password"
                 placeholder="Neues Passwort"
                 required #password="ngModel">
          <button type="button" (click)='showHidePassword()' class="btn-light">Passwort {{ showPassword ? ' Verbergen' : ' Zeigen' }}</button>
<!--          <span class="help-block">Passwort mit 8 oder mehr Zeichen.</span>-->
        </div>
        <div [hidden]="user.password !=''" class="alert alert-warning">Passwort wird benötigt</div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Speichern</button>
      </form>
    </div>
  </div>
</div>

