<app-header></app-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div><p>Falls Sie regelmässig die gleichen Produkte bestellen möchten, geben Sie die gewünschte Anzahl ein. <br />
      Diese Angaben dienen als Grundeinstellungen und können dann jeweils noch geändert werden.
    </p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tour</th>
        <th scope="col">Produkt</th>
        <th scope="col">Grösse</th>
        <th scope="col">Anzahl Mo-Mi</th>
        <th scope="col">Anzahl Do-Sa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userProfileOrder of userProfileOrders">
        <td>{{ userProfileOrder.tour.number}}</td>
        <td>{{ userProfileOrder.productBindProductDetails.product.name }}</td>
        <td>{{ userProfileOrder.productBindProductDetails.productDetails.size }}  {{ userProfileOrder.productBindProductDetails.productDetails.unit }}</td>
        <td><input type="number"  min="0" [(ngModel)]="userProfileOrder.firstWeekOrder"></td>
        <td><input type="number"  min="0" [(ngModel)]="userProfileOrder.secondWeekOrder"></td>
      </tr>
      <button type="button" (click)='save()' class="btn-light">Speichern</button>
      </tbody>
    </table>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>


