<app-kathy-header></app-kathy-header>
<router-outlet></router-outlet>
<div *ngFor="let card of cards">
  <div class="card" >
    <img class="card-img-top" src="{{card.url}}" alt="{{card.imageText}}">
    <div class="card-body">
      <h5 class="card-title">{{card.header}}</h5>
      <h3 class="card-title">{{card.subheader}}</h3>
      <p class="card-text">{{card.text}}</p>
      <br>
      <p class="card-text">{{card.subtext}}</p>
      <input class="form-check-input" type="checkbox" value="{{card.isactive}}" [(ngModel)]="card.isactive" (click)="save(card)">
      <button type="button" (click)='update(card)' class="btn-light">Bearbeiten</button>
      <button type="button" (click)='delete(card)' class="btn-light">Löschen</button>
    </div>
  </div>
</div>

