<app-header></app-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div class="input-group mb-3 w-100 was-validated h-25">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user.username"
               class="form-control"
               id="username"
               name="username"
               placeholder="Username"
               required #username="ngModel">
      </div>
      <div [hidden]="!username.pristine" class="alert alert-warning">Username wird benötigt</div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input [type]=" showPassword ? 'text' : 'password' " [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Passwort"
               required #password="ngModel">
        <button type="button" (click)='showHidePassword()' class="btn-light"> Passwort{{ showPassword ? ' verdecken' : ' zeigen' }}</button>
        <div [hidden]="!password.pristine" class="alert alert-warning">Passwort wird benötigt</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Senden</button>
    </form>
    </div>
    <div><p>Wenn Sie das Passwort vergessen haben, geben Sie bitte ihren Username ein und drücken: Passwort per Email senden. Das Senden der Mail wird wird ca. 2 Minuten dauern.</p></div>
    <div><button type="button" (click)='sendPassword()' class="btn-light"> Passwort per Email senden</button></div>
    <div><button type="button" (click)='register()' class="btn-light"> Registrieren</button></div>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>

