<div class="card" >
  <div class="card-body">
    <div>
      <h5>Balmburren Hof</h5>
        <p>Thomas Burren
        <br>Email:
        <br>Telefon:
        <br>Telefonzeiten: <br>
        Mo 10-11, 13-15 Uhr </p>
        <br>
        <br>
      <h5>Balmburren Bestellung</h5>
        <p>Käthi Burren
        <br>Email:
        <br>Telefon:
        <br>Telefonzeiten: <br>
        Mo 10-11, 13-15 Uhr<br>
        Mi 10-11, 13-15 Uhr</p>
        <br>
        <br>
      <h5>Balmburren Support App</h5>
        <p>Bernhard Messerli
        <br>Email: bernhard.messerli.5@gmail.com
        <br>Telefon: 079 206 42 23</p>
    </div>
  </div>
</div>
