<div class="card" >
  <div class="card-body">
    <div>
      <h5>Balmburren Biohof</h5>
        <p>Thomas Burren
        <br>Email: burrenthom@bluewin.ch
        <br>Telefon: 031 842 09 62
        <br>Telefonzeiten: <br>
        Mo 10-11, 13-15 Uhr
        <br>Do 10-11, 13-15 Uhr</p>
        <br>
        <br>
      <h5>Balmburren Bestellung</h5>
        <p>Käthi Burren
        <br>Email:
        <br>Telefon: 031 849 13 27
        <br>Telefonzeiten: <br>
        Mo 10-11, 13-15 Uhr<br>
        Mi 10-11, 13-15 Uhr</p>
        <br>
        <br>
      <h5>Balmburren Support Web-App</h5>
        <p>Bernhard Messerli
        <br>Email: bernhard.messerli.5@gmail.com
        <br>Telefon: 079 206 42 23</p>
    </div>
  </div>
</div>
