<app-header></app-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div class="input-group mb-3 w-100 was-validated h-25">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="user.username"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="Username"
                 required #username="ngModel">
        </div>
        <div [hidden]="!username.pristine" class="alert alert-warning">Username wird benötigt</div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input [type]=" showPassword ? 'text' : 'password' " [(ngModel)]="user.password"
                 class="form-control"
                 id="password"
                 name="password"
                 placeholder="Passwort"
                 required #password="ngModel">
          <button type="button" (click)='showHidePassword()' class="btn-light"> Passwort{{ showPassword ? ' verdecken' : ' zeigen' }}</button>
          <span class="help-block">   Passwort mit 8 oder mehr Zeichen</span>
          <div [hidden]="!password.pristine" class="alert alert-warning">Passwort wird benötigt</div>
        </div>
      <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" [(ngModel)]="user.firstname"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="Gib den Vorname ein."
               required #firstname="ngModel">
      </div>
      <div [hidden]="!firstname.pristine" class="alert alert-warning">Vorname wird benötigt.</div>
      <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" [(ngModel)]="user.lastname"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="Gib den Nachname ein."
               required #lastname="ngModel">
      </div>
      <div [hidden]="!lastname.pristine" class="alert alert-warning">Nachname wird benötigt</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="userBindPhone.email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="Email"
                 required #email="ngModel">
        </div>
        <div [hidden]="!email.pristine" class="alert alert-warning">Email wird benötigt</div>
        <div class="form-group">
          <label for="street">Strasse</label>
          <input type="text" [(ngModel)]="userBindAddress.address.street"
                 class="form-control"
                 id="street"
                 name="street"
                 placeholder="Strasse"
                 required #street="ngModel">
        </div>
        <div [hidden]="!street.pristine" class="alert alert-warning">Strasse wird benötigt</div>
        <div class="form-group">
          <label for="number">Strassen Nummer</label>
          <input type="text" [(ngModel)]="userBindAddress.address.number"
                 class="form-control"
                 id="number"
                 name="number"
                 placeholder="Strassen Nummer"
                 required #number="ngModel">
        </div>
        <div [hidden]="!number.pristine" class="alert alert-warning">Strassen Nummer wird benötigt</div>
        <div class="form-group">
          <label for="city">Ort</label>
          <input type="text" [(ngModel)]="userBindAddress.address.city"
                 class="form-control"
                 id="city"
                 name="city"
                 placeholder="Ort"
                 required #city="ngModel">
        </div>
        <div [hidden]="!city.pristine" class="alert alert-warning">Ort wird benötigt</div>
        <div class="form-group">
          <label for="plz">PLZ</label>
          <input type="number" [(ngModel)]="userBindAddress.address.plz"
                 class="form-control"
                 id="plz"
                 name="plz"
                 placeholder="PLZ"
                 required #plz="ngModel">
        </div>
        <div [hidden]="!plz.pristine" class="alert alert-warning">PLZ wird benötigt</div>
        <div class="form-group">
          <label for="phone">Telefon Nummer</label>
          <input type="text" [(ngModel)]="userBindPhone.phone"
                 class="form-control"
                 id="phone"
                 name="phone"
                 placeholder="Telefon Nummer">
          <!--                 required #phone="ngModel">-->
        </div>
        <!--        <div [hidden]="userBindPhone.phone !=''" class="alert alert-warning">Telefon Nummer wird benötigt</div>-->
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Senden</button>
    </form>
    </div>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>
