<app-kathy-header></app-kathy-header>
<router-outlet></router-outlet>
<div class="card">
<div class="card-body">
  <div class="input-group mb-3 w-100 h-25">
    <form (ngSubmit)="cardPut()" #cardForm="ngForm">
      <div class="form-group">
        <label for="header">Titel</label>
        <input type="text"  [(ngModel)]="card.header"
               class="form-control"
               id="header"
               name="header"
               placeholder="Titel">
      </div>
      <div class="form-group">
        <label for="subheader">Untertitel</label>
        <input type="text"  [(ngModel)]="card.subheader"
               class="form-control"
               id="subheader"
               name="subheader"
               placeholder="Untertitel">
      </div>
      <div class="form-group">
        <label for="body">Text</label>
        <input type="text"  [(ngModel)]="card.text"
               class="form-control"
               id="body"
               name="body"
               placeholder="Text">
      </div>
      <div class="form-group">
        <label for="subtext">Subtext</label>
        <input type="text"  [(ngModel)]="card.subtext"
               class="form-control"
               id="subtext"
               name="subtext"
               placeholder="Subtext">
      </div>
      <div class="form-group">
        <label for="url">Url Bild</label>
        <input type="text"  [(ngModel)]="card.url"
               class="form-control"
               id="url"
               name="url"
               placeholder="Url Bild">
      </div>
      <div class="form-group">
        <label for="image_text">Bildtext</label>
        <input type="text"  [(ngModel)]="card.imageText"
               class="form-control"
               id="image_text"
               name="image_text"
               placeholder="Bildtext">
      </div>
      <div class="form-group">
        <label for="isactive">Aktiv</label>
        <input type="checkbox"  [(ngModel)]="card.isactive"
               class="form-control"
               id="isactive"
               name="isactive"
               placeholder="Aktiv">
      </div>

      <button type="submit" [disabled]="!cardForm.form.valid"
              class="btn btn-info" title="Karte speichern.">Karte speichern</button>
    </form>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <div *ngIf="success" class="alert alert-success">
    {{ success }}
  </div>
</div>
</div>
