<app-kathy-header></app-kathy-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
    <div><h5>User: {{ user.firstname}} {{user.lastname}}</h5></div>
    <!--    <span style="display:block; height:50px;"></span>-->
    <div><p>Um die Lieferungen in einem bestimmten Zeitfenster anzuzeigen:
      <br>zuerst <b>Start Datum</b> auswählen und dann <b>End Datum</b> auswählen.
      <br>Nun <b>Anwenden</b> klicken.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Start Datum</th>
        <th scope="col">End Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="date" [(ngModel)]="dateFrom.date"></td>
        <td><input type="date" [(ngModel)]="dateTo.date"></td>
        <button type="button" (click)='apply()' class="btn-light">Anwenden</button>
      </tr>
      </tbody>
    </table>
    <!--  </div>-->
    <!--  <div class="card-body">-->
    <div><p>Mit der Check-Box können die Auflistungen ein- und ausgeblendet werden.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Grösse</th>
        <th scope="col">Lieferung</th>
        <th scope="col">Preis</th>
      </tr>
      </thead>
      <div *ngFor="let child of categories">
        <span><input class="form-check-input" type="checkbox" name="{{child.category}}" #name="ngModel" ngModel title="Ein- /Ausblenden"></span>
        <span style="display:block; width:50px;"></span>
        <span><b>{{child.category | date:'fullDate'}}</b></span>
        <tbody>
        <tr *ngFor="let order of child.products">
          <td *ngIf="!name.value" >{{ order.productBindInfos.product.name }}</td>
          <td *ngIf="!name.value" >{{ order.productBindInfos.productDetails.size}}  {{ order.productBindInfos.productDetails.unit}}</td>
          <td [ngStyle]="{'color': 'brown'}" *ngIf="!name.value" >{{ order.quantityDelivered}}</td>
          <td *ngIf="!name.value" >{{ order.productBindInfos.productDetails.price * order.quantityDelivered | number : '1.2-2'}} CHF</td>
        </tr>
        </tbody>
      </div>
    </table>
    <!--  </div>-->
    <!--  <div class="card-body">-->
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Summe</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{price | number : '1.2-2'}} CHF</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

