<div class="card" >
  <img class="card-img-top" src="/assets/images/flyingCowBalmburren7.jpg" alt="Balmburren Kühe">
  <div class="card-body">
    <h5 class="card-title">Balmburren</h5>
    <p class="card-text">Willkommen beim Biohof Balmburren, Mengestorf bei Gasel BE.
    <br>Geliefert werden die Produkte nur in der Nähe -> Gemeinde Köniz.
    <br>Bei Fragen: Bitte kontaktieren Sie uns.</p>
    <div><button type="button" (click)='register()' class="btn-light">Registrieren</button>
      <button type="button" (click)='login()' class="btn-light">Login</button></div>
  </div>
</div>
