<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card">
  <div class="card-body">
    <div><p>Zum wählen einer Tour, bei der gewünschten Tour das Datum eingeben.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Tour</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tour of tours">
        <td><input type="date" [(ngModel)]="dates.date" (change)="showOrders(tour)"></td>
        <td>{{ tour.number }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Produkt</th>
        <th scope="col">Bestellt</th>
        <th scope="col">Geliefert</th>
        <th scope="col">Adresse</th>
      </tr>
      </thead>
      <div *ngFor="let child of categories">
        <div style="margin-left: 80px; margin-top: 100px;">
            <span>{{child.category}}</span>
          </div>
          <div>
            <input
              class="large-checkbox"
              type="checkbox"
              name="{{child.category}}"
              #name="ngModel"
              ngModel
              (change)="save(child.products)"
              title="Alles geliefert"
              style="margin-left: 200px; margin-top: 10px; margin-bottom: 50px">
          </div>

        <tbody>
        <tr *ngFor="let userOrderTourAddress of child.products">
          <td>{{ userOrderTourAddress.order.date.date |date}}</td>
          <td>{{ userOrderTourAddress.order.productBindInfos.product.name}}</td>
          <td [ngStyle]="{'color': 'brown'}"><b>{{userOrderTourAddress.order.quantityOrdered}}</b></td>
          <td><input input class="form-control input-sm" type="number"  min="0" [(ngModel)]="userOrderTourAddress.order.quantityDelivered"  (change)="save1(userOrderTourAddress)"></td>
          <td (click)="googleMaps(userOrderTourAddress)" title="Google Maps"><ins>{{userOrderTourAddress.address.street}} {{userOrderTourAddress.address.number}} {{userOrderTourAddress.address.plz}}</ins></td>
        </tr>
        </tbody>
      </div>
      <button type="button" (click)='apply()' class="btn-light">Speichern</button>
      <div><button type="button"(click)='reset()' class="btn-light">Alle zurücksetzen</button></div>
    </table>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <div *ngIf="success" class="alert alert-success">
    {{ success }}
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Grösse</th>
        <th scope="col">Datum</th>
        <th scope="col">Anzahl</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let productBindInfoCount of productBindInfoCounts">
        <td>{{ productBindInfoCount.productbindinfos.product.name}}</td>
        <td>{{ productBindInfoCount.productbindinfos.productDetails.size}} {{ productBindInfoCount.productbindinfos.productDetails.unit}}</td>
        <td>{{ dates.date |date: 'fullDate'}}</td>
        <td [ngStyle]="{'color': 'brown'}"><b>{{ productBindInfoCount.counter}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




