<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card">
    <table class="table table-bordered table-striped  table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Alle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{all}}" [(ngModel)]="all" (change)="check()" title="An alle Email senden.">
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <div><p>Wähle mit klicken der <b>Check-Box</b>, an welche User das Email gesendet werden soll.</p></div>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Check</th>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Vorname</th>
        <th scope="col">Email</th>
        <th scope="col">Telefon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emailUser of emailUsers">
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{emailUser.isChecked}}" [(ngModel)]="emailUser.isChecked" title="An {{ emailUser.user.username }} Email senden.">
        </div></td>
        <td>{{ emailUser.user.username }}</td>
        <td>{{ emailUser.user.firstname }}</td>
        <td>{{ emailUser.user.lastname}}</td>
        <td>{{ emailUser.email}}</td>
        <td>{{ emailUser.phone}}</td>
      </tr>
      </tbody>
    </table>
  </div>
<!--</div>-->
<!--<div class="card my-5">-->
  <div class="card-body">
    <div class="input-group mb-3 w-100 h-25">
      <form (ngSubmit)="email()" #tourForm="ngForm">
        <div class="form-group">
          <label for="subject">Betreff</label>
          <input type="text"  [(ngModel)]="emailData.subject"
                 class="form-control"
                 id="subject"
                 name="subject"
                 placeholder="Betreff"
                 required #subject="ngModel">
        </div>
        <div [hidden]="!subject.pristine" class="alert alert-danger">Betreff wird benötigt</div>
        <div class="form-group">
          <label for="body">Nachricht</label>
          <input type="text" [(ngModel)]="emailData.body"
                 class="form-control"
                 id="body"
                 name="body"
                 placeholder="Nachricht"
                 required #body="ngModel">
        </div>
        <div [hidden]="!body.pristine" class="alert alert-danger">Nachricht wird benötigt</div>
        <div class="form-group">
          <label for="file">Anhang (TXT, PDF)</label>
          <input type="file" [(ngModel)]="emailData.file"
                 class="form-control"
                 id="file"
                 name="file" (change)="uploadFile($event)">
        </div>
        <button type="submit" [disabled]="!tourForm.form.valid"
                class="btn btn-info" title="Sendet an alle ausgewählte User Email mit obigem Inhalt">Email senden</button>
      </form>
    </div>
  </div>
</div>
