<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <div class="input-group mb-3 w-100 was-validated h-25">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="user.username"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="Username"
                 required #username="ngModel">
        </div>
        <div [hidden]="!username.pristine" class="alert alert-warning">   Username wird benötigt</div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input [type]=" showPassword ? 'text' : 'password' " [(ngModel)]="user.password"
                 class="form-control"
                 id="password"
                 name="password"
                 placeholder="Passwort"
                 required #password="ngModel">
          <button type="button" (click)='showHidePassword()' class="btn-light"> Passwort{{ showPassword ? ' Verdecken ' : ' Zeigen ' }}</button>
          <span class="help-block">   Passwort mit 8 oder mehr Zeichen   </span>
        </div>
        <div [hidden]="!password.pristine" class="alert alert-warning">    Passwort wird benötigt</div>
        <div class="form-group">
          <label for="firstname">Vorname</label>
          <input type="text" [(ngModel)]="user.firstname"
                 class="form-control"
                 id="firstname"
                 name="firstname"
                 placeholder="Vorname"
                 required #firstname="ngModel">
        </div>
        <div [hidden]="!firstname.pristine" class="alert alert-warning">   Vorname wird benötigt</div>
        <div class="form-group">
          <label for="lastname">Nachname</label>
          <input type="text" [(ngModel)]="user.lastname"
                 class="form-control"
                 id="lastname"
                 name="lastname"
                 placeholder="Nachname"
                 required #lastname="ngModel">
        </div>
        <div [hidden]="!lastname.pristine" class="alert alert-warning">   Nachname wird benötigt</div>
        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-info">Senden</button>
      </form>
    </div>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
  </div>
</div>
