<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Users</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td (click)="goTo(user)" title="Zeige Rollen">{{ user.username }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Rollen</th>
        <th scope="col">{{username}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.name }}</td>
        <button type="button" (click)='delete(role)' class="btn-light">Delete Role</button>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Alle Rollen</th>
        <th>ID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of newRoles">
        <td (click)="addRole(role)" title="Rolle dazufügen">{{ role.name }}</td>
        <td>{{role.id}}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" (click)='addRoles()' class="btn-light">Neue Rolle dazufügen</button>
  </div>
</div>
