<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <div class="input-group mb-3 w-100 h-25">
    <form (ngSubmit)="onSubmit()" #tourForm="ngForm">
      <div class="form-group">
        <label for="numberTour">Nummer</label>
        <input type="text" [(ngModel)]="tour.number"
               class="form-control"
               id="numberTour"
               name="numberTour"
               placeholder="Nummer"
               required #number="ngModel">
      </div>
      <div [hidden]="!number.pristine" class="alert alert-danger">Nummer wird benötigt</div>
      <button type="submit" [disabled]="!tourForm.form.valid"
              class="btn btn-info">Senden</button>
    </form>
    </div>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>
