<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<div class="card my-5">
  <div class="card-body">
    <span style="display:block; height:50px;"></span>
    <table class="table table-bordered table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Admin</th>
        <th scope="col">Driver</th>
        <th scope="col">User</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersWithRole">
        <td (click)="driverWork(user)" title="Arbeitszeit erfassen"><ins>{{ user.username }}</ins></td>
        <td (click)="driverOverview(user)" title="Lohnauszahlungen"><ins>{{user.firstname}}</ins></td>
        <td>{{ user.lastname }}</td>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{user.driverIsChecked}}" onclick="return false" [ngModel]="user.adminIsChecked">
        </div></td>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{user.driverIsChecked}}" onclick="return false" [(ngModel)]="user.driverIsChecked">
        </div></td>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{user.userIsChecked}}" onclick="return false" [(ngModel)]="user.userIsChecked">
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
